!!!
%html
  %head
    %title My Awesome Site
    %link{:rel=>'stylesheet', :href=>'/stylesheets/index.css', :type => "text/css"}
    <meta http-equiv="refresh" content="2">
    / %script{:type => "text/javascript", :src  => "/javascripts/jquery.js"}
    / %script{:type => "text/javascript", :src  => "/javascripts/index.js"}
  %body
    = yield